@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  word-spacing: 1px;
  font-size: 20px;
  background-color: pink;
  text-shadow: 1px 1px #ff0000;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-family: 'Dokdo', cursive;
  font-size: 100px;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Dokdo', cursive;
  font-size: 30px;
  margin: 0px;
}

h3 {
  font-family: 'Dokdo', cursive;
  font-size: 40px;
}

a, button { 
  font: bold 40px Arial;
  text-decoration: none; 
  background-color: #EEEEEE; 
  color: hotpink; 
  border-radius: 10px;
  padding: 2px 6px 2px 6px; 
  border-top: 1px solid #CCCCCC; 
  border-right: 1px solid #333333; 
  border-bottom: 1px solid #333333; 
  border-left: 1px solid #CCCCCC; 
}

.pet-container {
  width: 90%;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid hotpink;
  border-radius: 10px;
}


.picture {
  width: 45%;
}